/* Reset and base */
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    color: #eee;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

/* Accessibility focus styling */
button:focus {
    outline: 3px solid #06b6d4;
}